body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222629;
    color: #dcdce6;
}

h1 {
    color: #86C232;
}

p {
    color: #dcdce6;
}

a:link {
    color: #86C232;
}

a:visited {
    color: #618c22;
}

a:hover {
    text-decoration: none;
}

.special {
    color: #99f31c;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

#mega-special {
    color: green;
}

.title {
    text-align: center;
}

.flex {
    display: flex;
    border-radius: 5px;
    border-color: #474b4f;
    border-width: 0.3rem;
    border-style: solid;
}

.grid {
    display: grid;
}


ul.flex.f0 {
    /* flex item */
    /* flex container */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    /* item */
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

ul.grid.g0 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Added for responsiveness of browser width */
    gap: 1rem; /* Added for multiple line spacing */
    grid-template-rows: masonry;
}

/* Alert category, contains header + table|column */
.flex.f1 {
    /* flex item */
    /*margin: auto;*/
    /* flex container */
    /* will always have: c2 header and a c2 container */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* item */
    background-color: #474b4f;
    /*padding: 0.5rem 0 0.5rem 0;*/
}

/* Header of alert category */
li.flex.f1-header {
    /* flex item */
    justify-self: flex-start;
    /*align-self: flex-start;
    /* flex container */
    /* nothing, just text */
    /* item */
}

/* Table view of alerts */
.flex.f1-table {
    /* flex item */
    justify-self: flex-end;
    /* flex container */
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: normal ;
    /* item */
    padding-left: 0;
    width: 100%;
}

/* Column view of alerts */
ol.flex.f1-column {
    /* flex item */
    justify-self: flex-end;
    /* flex container */
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    /* item */
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}

/* The alerts themselves */
.flex.f2 {
    /* flex item */
    list-style-type: none;
    padding: 10px 20px;
    margin: 2px 0;
    background-color: #e47316;
    color: #fff;
}

/* Credit to Maurizio Rendon for the status effects */
/* https://codepen.io/maurirz3/pen/OJJoKXp, licensed under MIT Licensed */

.flex.f2.status-ok {
    background: #4CAF50;
}

.flex.f2.status-error {
    background: repeating-linear-gradient(
        180deg,
        #fdb241,
        #fdb241 2px,
        #fed998 4px,
        #fed998 6px
      );
}

.flex.f2.status-critical {
    background: repeating-linear-gradient(
        -45deg,
        #FF5252,
        #FF5252 2px,
        #fc9598 4px,
        #fc9598 6px
      );
}