<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link href="{{url_for('static', path='/styles.css')}}" rel="stylesheet">
  </head>
  <body>
    <h1 class="title">Graphic design is my passion</h1>
    <ul class="grid g0">
      <li class="flex f1">
        <h2 class="flex f1-header">APs</h2>
        <ol class="flex f1-table">
          <li class="flex f2">
            1
          </li>
          <li class="flex f2">
            2
          </li>
          <li class="flex f2">
            3
          </li>
        </ol>
      </li>
      <li class="flex f1">
        <h2 class="flex f1-header">Proxmox VMs</h2>
        <ol class="flex f1-column">
          <li class="flex f2">
            something</li>
          <li class="flex f2">
            2
          </li>
          <li class="flex f2">
            3
          </li>
        </ol>
      </li>
      <li class="flex f1">
        <h2 class="flex f1-header">SNMP</h2>
        <ol class="flex f1-column">
          <li class="flex f2">
            1
          </li>
          <li class="flex f2">
            2
          </li>
          <li class="flex f2">
            3
          </li>
        </ol>
      </li>
      <li class="flex f1">
        <h2 class="flex f1-header">Temps</h2>
        <ol class="flex f1-column">
          <li class="flex f2">
            1
          </li>
          <li class="flex f2">
            2
          </li>
          <li class="flex f2">
            3
          </li>
        </ol>
      </li>
    </ul>
  </body>
</html>